/* Presets Holds the color and size preset values */

$primary-bg: #fdfdfd;
$secondary_bg: #089b93;
$font-stack: Calibri;
$font-color: #333232;
$font-color-light: rgba(0, 0, 0, 0.7);
$font-color-white: #fbfbfb;
$font-color-blue: rgba(2, 99, 190, 1);
$font-color-orange: rgba(255, 102, 0, 1);
$dark: 1;
$light: 0.7;
$font-size: 16px;
$min-height: 40px;