/* Presets Holds the color and size preset values */
* {
  box-sizing: border-box !important;
}

body {
  background-color: #fdfdfd;
  font-family: Calibri;
  color: #333232;
  font-size: 16px;
}

/* navbar*/
.nav {
  display: inline-block;
  background-color: #089b93;
  min-height: 40px;
}

.nav-horizontal {
  width: 100%;
}

.nav-horizontal ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-horizontal ul li {
  display: inline-block;
  list-style: none;
}

.nav-horizontal ul li .item {
  display: block;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  color: #fbfbfb;
  font-size: 21px;
}

.nav-horizontal ul li .item:hover {
  background-color: #fdfdfd;
  color: #333232;
  height: 41px;
}

.row {
  width: 100% !important;
  padding-left: 2px;
  padding-right: 2px;
  float: left;
}

.fixed-top {
  top: 0 !important;
}

.container {
  width: 100% !important;
  height: 100% !important;
  padding: 2px;
}

.product-list1 {
  font-family: Calibri;
  color: #ff6600;
}

.product-list1 .item {
  color: #ff6600 !important;
  opacity: 0.7 !important;
}

.product-list2 {
  font-family: Calibri;
  color: #0263be;
  opacity: 1;
}

.product-list2 .item {
  color: #0263be !important;
  opacity: 0.7 !important;
}

.button {
  background-color: #089b93;
  color: #333232;
  opacity: 0.7;
  border-radius: 5px;
  border: none;
  min-height: 40px;
  cursor: pointer;
}
